$height_100: 100px;
$height_45: 45px;
$height_header_bottom: calc(#{$height_100 - $height_45});
$padd_20: 20px;
$padd_10: 10px;
$black: #101010;
$grey: #989898;
$white: #fff;
$blue: #009cff;
